<%- include('includes/head') %>

<body>
    <section class="container text-center">
        <div class="error-code">404</div>
        <h1 class="feedback-title">Ops! Algo deu errado.</h1>
        <p class="feedback-text">
            A página que você está procurando não existe, foi movida ou a sua sessão de segurança expirou (Token CSRF inválido).
        </p>
        <a href="/" class="btn-link">Voltar para a Página Inicial</a>
    </section>

    <script src="/assets/js/bundle.js"></script>
</body>
</html>
